 @namespace StockControl.Components
 
 <div class="p-3">
 <EditForm Model="_model" OnValidSubmit="SubmitFormAsync" style="width: 800px;">
	 
	 @if (!string.IsNullOrWhiteSpace(_errorMessage))
	 {
		 <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Class="my-2">@_errorMessage</MudAlert>
	 }
	 
	 <DataAnnotationsValidator />
	 
@*	 <MudGrid>
		 <MudItem xs="12">*@
			 <MudTooltip Placement="Placement.Right"  Inline="true" Color="Color.Tertiary">
				 <ChildContent >
					 <MudTextField Style="Width:800px" Label="Name"  @bind-Value="@_model.Name"  Variant="Variant.Outlined"  For="@(() => @_model.Name)"/>
				 </ChildContent>
				 <TooltipContent>
					 <MudText Typo="Typo.h6">Supplier Name</MudText>
					 <MudText Typo="Typo.body2"><p style="max-width: 400px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></MudText>
				@*	 <MudIcon Icon="@Icons.Material.Filled.Star" />*@
				 </TooltipContent>
			 </MudTooltip>
@*	 </MudItem>
	 </MudGrid>*@


	 <MudTextField Label="Address"  @bind-Value="@_model.Add1"  Variant="Variant.Outlined"/>
	 <MudTextField   @bind-Value="@_model.Add2"  Variant="Variant.Outlined"/>
	 <MudTextField  @bind-Value="@_model.Add3"  Variant="Variant.Outlined"/>
	 <MudTextField Label="Postcode"  @bind-Value="@_model.Postcode"  Variant="Variant.Outlined"/>
	 <MudTextField Label="Email"  @bind-Value="@_model.Email"  Variant="Variant.Outlined"/>
	 <MudTextField Label="Website"  @bind-Value="@_model.Website"  Variant="Variant.Outlined"/>
	 <MudTextField Label="Contact"  @bind-Value="@_model.Contact"  Variant="Variant.Outlined"/>
	 
	 <MudDivider DividerType="DividerType.FullWidth" Class="mt-3" />

	 <MudButton Color="Color.Primary" Variant="Variant.Filled"
	            ButtonType="ButtonType.Submit" FullWidth="true" Disabled="_isBusy">Save</MudButton>

 </EditForm>
 </div>


